<div class="result community">
  <% 
    person = hit.result
    name = ( person.last_name.blank? ? person.name : person.last_name + ", " + person.first_name )
  %>
  <h4><%= link_to name, user_path(person), title: person.name %></h4>
  <%= best_hit_description(hit, :bio) %>
</div>
