<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <h1>Search Results <span>Grouped By Section</span></h1>

      <div class="main-content">
        <div class="results">
          <%
            @results.each do |hit|
              case hit.result
              when Issue %>
                <%= render :partial => 'issue', :locals => { :hit => hit } %>
              <% when Conversation %>
                <%= render :partial => 'conversation', :locals => { :hit => hit } %>
              <% when Person %>
                <%=
                   render :partial => 'community', :locals => { :hit => hit }
                 %>
              <% else
              end
            end
          %>
        </div>
      </div>

      <div class="aside supplementary">
      </div>

    </div>
  </div>
<% end %>

