<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <h1>Search Results <span>Grouped By Section</span></h1>

      <div class="main-content">
        <div class="results">
          <h2>Conversatons</h2>
          <% @conversations.each do |conversation| %>
            <%= render :partial => 'conversation', :locals => { :conversation => conversation } %>
          <% end %>

          <h2>Issues</h2>
          <% @issues.each do |issue| %>
            <%= render :partial => 'issue', :locals => { :issue => issue } %>
          <% end %>

          <h2>Community</h2>
          <% @community.each do |person| %>
            <%= render :partial => 'community', :locals => { :person => person } %>
          <% end %>

        </div>
      </div>

      <div class="aside supplementary">
        <div class="mod" id="FacebookActivityModule">
          <%= render :partial => 'shared/facebook_activity_widget' %>
        </div>
      </div>

    </div>
  </div>
<% end %>

