<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <h1>Search Results <span>Grouped By Section</span></h1>

      <div class="main-content">
        <div class="results">
          <%
            @results.each do |result|
              case result
              when Issue %>
                <%= render :partial => 'issue', :locals => { :issue => result } %>
              <% when Conversation %>
                <%= render :partial => 'conversation', :locals => { :conversation => result } %>
              <% when Person %>
                <%= render :partial => 'community', :locals => { :person => result } %>
              <% else
              end
            end
          %>
        </div>
      </div>

      <div class="aside supplementary">
      </div>

    </div>
  </div>
<% end %>

